.insert_input_container {
    position: absolute;
    top: -1.5625rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    @media (min-width: 600px) {
        width: 60%;
    }
    .insert_input {
        width: 85%;
        height: 2.8125rem;
        border-radius: 0.5rem;
        border: 1px solid #6b65729f;
        padding-left: 0.625rem;
        cursor: pointer;
        &:focus {
            border-color: transparent;
            outline: none;
            margin: 0;
        }
        &::placeholder {
            color: #6B6572;
        }
    }
    .insert_button {
        border: none;
        width: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6F3CC3;
        border-radius: 7px;
        cursor: pointer;
        &:hover {
            background-color: #9659F3;
        }
        .insert_button_text {
            display: none;
            @media (min-width: 600px) {
                display: flex;
                color: #F0EDF2;
                margin-right: 0.3125rem;
                font-weight: 700;
                font-family: 'Inter', sans-serif;
                font-size: 18px;
            }
        }
        .insert_button_span {
            border-radius: 80%;
            padding: 0.5px 2px;
            color: #F0EDF2;
            font-style: bold;
            font-family: 'Inter', sans-serif;
            @media (min-width: 600px) {
                font-weight: 600;
            }
        }
    }
}